body {
    background-color: aquamarine;
}
#container {
    background-color: beige;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
img {
    display: block;
    margin: 0 auto;
    width: 500px;
}
nav {
    text-align: center;
    margin: 20px;
}
nav {
    text-align: center;
    background-color: red;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
   
}
nav a {
    display: inline-block;
    text-decoration: none;
    width: 100px;
    height: 20px;
    color: greenyellow;
    background-color: orange;
}

nav a:hover {
    background-color: navy;
    color: hotpink;

}
h1,h2,h3,h4,footer {
text-align: center;
}
header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: purple;
}
hr {
    border: 8px solid purple;
}