body {
    background-color: aquamarine;
}
#container {
    background-color: rgb(254, 202, 209);
    width: 1200px;
    margin: 40px auto;
    border: 8px solid black;
    padding: 40px;
}
img {
    display: block;
    margin: 0 auto;
    width: 500px;
}

nav {
    text-align: center;
    background-color: purple;
    padding: 10px;
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
   
}


nav li a {
  display: block;
  color: orange;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 20px;
  width: 125px;
  height: 25px;
}
nav a:hover {
    color: rgb(255, 0, 153);
    background-color: blue;
}
h1,h2,h3,h4,footer {
text-align: center;
}
header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: purple;
}
hr {
    border: 8px solid purple;
}
main {
    display: flex;
  }
  article, aside {
   padding: 10px;
   margin: 10px;
   border: 2px solid green; 
      border-radius: 10px;
  }
  article {
      width:60%;
  }
  aside {
      width: 40%;
  }

  article img {
      width: 60%;
  }

  .single-colum{
    display: block;
}
.single-colum aside, .single-colum article {
    width: 95%;
    margin: 20px auto;
}
.single-colum img {
    width: 50%;
}
