body {
    background-color: aquamarine;
}
#container {
    background-color: beige;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
nav {
    text-align: center;
    margin: 20px;
}
nav a {
    font-size: 22px;
    color: red;
    margin: 0 20px;
    font-weight: bold;
}
nav a:hover {
    text-align: center;
}
h1,h2,h3,h4,footer {
text-align: center;
}
header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: indianred;
}